h1 {
  background-color: black;
  color: white;
}

#fname, #lname, #email, #pn {
  color: black;
  border-color: gray;
  border:1px solid gray;
  border-radius: 5px;
  width: 100%;
}

.save-button, .go-back-button {
  /* Basic dimensions and background */
  width: 75px; /* Adjust as needed */
  height: 25px; /* Adjust as needed */
  background-color: #007bff; /* Example blue color */
  color: white; /* Text color */
  margin: 0 auto;
  position: relative;
  border-radius: 2px;

  /* Text styling */
  font-size: 10px;
  font-weight: bold;

  /* Remove default button styles */
  border: none;
  cursor: pointer;
  outline: none; /* Remove outline on focus */

  /* Optional: Add a subtle shadow */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  /* Optional: Hover effect */
  transition: background-color 0.3s ease; /* Smooth transition for hover */
}

.save-button:disabled{
  background-color: gray;
}

.message-font {
  font-size: 16px;
  font-weight: bold;
  color: red;
}